name: Naukri Automation

on:
  schedule:
    - cron: "0 * * * *"  # runs at minute 0 every hour
  workflow_dispatch:     # allows manual trigger

jobs:
  automate:
    runs-on: ubuntu-latest
    env:
      EMAIL: ${{ secrets.EMAIL }}
      PASSWORD: ${{ secrets.PASSWORD }}
      DISABLE_SERVER: true
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Run Naukri automation
        run: node index.js
